<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー一覧</title>
    <!-- 画面共通CSS -->
    <link rel="stylesheet" href="../idIssuance_files/p_css/reset.css">
    <link rel="stylesheet" href="../idIssuance_files/p_css/compornents.css">
    <link rel="stylesheet" href="../idIssuance_files/p_css/common.css">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../idIssuance_files/p_css/userList.css">
</head>

<body>
    <!-- ヘッダー -->
    <header></header>

    <!-- メイン -->
    <main>

    </main>
    
    <!-- フッター -->
    <footer></footer>

    <!-- 画面共通JavaScript -->
    <script src="../idIssuance_files/p_css/events.js"></script>
    <script src="../idIssuance_files/p_css/common.js"></script>
    <!-- 画面個別JavaScript -->
    <script src="../idIssuance_files/p_css/userList.js"></script>
</body>
</html>